body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:987px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:926px;
  height:529px;
}
#u1234 {
  position:absolute;
  left:227px;
  top:98px;
  width:926px;
  height:529px;
}
#u1235 {
  position:absolute;
  left:2px;
  top:256px;
  width:922px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF7519;
  text-align:left;
}
#u1236 {
  position:absolute;
  left:227px;
  top:100px;
  width:131px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF7519;
  text-align:left;
}
#u1237 {
  position:absolute;
  left:2px;
  top:4px;
  width:127px;
  word-wrap:break-word;
}
#u1238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
  background:inherit;
  background-color:rgba(253, 242, 232, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1238 {
  position:absolute;
  left:231px;
  top:150px;
  width:55px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1239 {
  position:absolute;
  left:2px;
  top:1px;
  width:51px;
  word-wrap:break-word;
}
#u1240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  height:34px;
}
#u1240 {
  position:absolute;
  left:230px;
  top:207px;
  width:737px;
  height:34px;
}
#u1241 {
  position:absolute;
  left:2px;
  top:9px;
  width:733px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:31px;
}
#u1242 {
  position:absolute;
  left:232px;
  top:142px;
  width:734px;
  height:31px;
}
#u1243 {
  position:absolute;
  left:2px;
  top:8px;
  width:730px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
  background:inherit;
  background-color:rgba(253, 242, 232, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1244 {
  position:absolute;
  left:231px;
  top:148px;
  width:55px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1245 {
  position:absolute;
  left:2px;
  top:1px;
  width:51px;
  word-wrap:break-word;
}
#u1246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:31px;
}
#u1246 {
  position:absolute;
  left:232px;
  top:176px;
  width:734px;
  height:31px;
}
#u1247 {
  position:absolute;
  left:2px;
  top:8px;
  width:730px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:19px;
  background:inherit;
  background-color:rgba(253, 242, 232, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1248 {
  position:absolute;
  left:231px;
  top:181px;
  width:86px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1249 {
  position:absolute;
  left:2px;
  top:1px;
  width:82px;
  word-wrap:break-word;
}
#u1250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u1250 {
  position:absolute;
  left:314px;
  top:219px;
  width:16px;
  height:13px;
}
#u1251 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(253, 242, 232, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1252 {
  position:absolute;
  left:232px;
  top:217px;
  width:65px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1253 {
  position:absolute;
  left:2px;
  top:1px;
  width:61px;
  word-wrap:break-word;
}
#u1254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1254 {
  position:absolute;
  left:349px;
  top:215px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1255 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:19px;
  background:inherit;
  background-color:rgba(253, 242, 232, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1256 {
  position:absolute;
  left:605px;
  top:217px;
  width:94px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1257 {
  position:absolute;
  left:2px;
  top:1px;
  width:90px;
  word-wrap:break-word;
}
#u1258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1258 {
  position:absolute;
  left:721px;
  top:215px;
  width:111px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1259 {
  position:absolute;
  left:2px;
  top:5px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:56px;
}
#u1260 {
  position:absolute;
  left:227px;
  top:207px;
  width:746px;
  height:56px;
}
#u1261 {
  position:absolute;
  left:2px;
  top:20px;
  width:742px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262 {
  position:absolute;
  left:529px;
  top:223px;
  width:70px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1263 {
  position:absolute;
  left:603px;
  top:223px;
  width:70px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:54px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u1264 {
  position:absolute;
  left:358px;
  top:217px;
  width:435px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u1265 {
  position:absolute;
  left:10px;
  top:10px;
  width:415px;
  word-wrap:break-word;
}
#u1266 {
  position:absolute;
  left:349px;
  top:145px;
  width:228px;
  height:26px;
}
#u1266_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1266_input:disabled {
  color:grayText;
}
#u1267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1267 {
  position:absolute;
  left:349px;
  top:179px;
  width:617px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1268 {
  position:absolute;
  left:2px;
  top:5px;
  width:613px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1269 {
  position:absolute;
  left:349px;
  top:178px;
  width:228px;
  height:22px;
}
#u1269_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1270_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1270 {
  position:absolute;
  left:327px;
  top:165px;
  width:30px;
  height:40px;
  opacity:0.5;
}
#u1271 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1272 {
  position:absolute;
  left:652px;
  top:178px;
  width:47px;
  height:22px;
  color:#FF0000;
}
#u1273 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u1274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1274 {
  position:absolute;
  left:750px;
  top:179px;
  width:198px;
  height:22px;
  color:#FF0000;
}
#u1275 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u1277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:517px;
}
#u1277 {
  position:absolute;
  left:-181px;
  top:79px;
  width:412px;
  height:517px;
}
#u1278 {
  position:absolute;
  left:2px;
  top:250px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:239px;
}
#u1279 {
  position:absolute;
  left:7px;
  top:217px;
  width:222px;
  height:239px;
}
#u1280 {
  position:absolute;
  left:2px;
  top:112px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
  background:inherit;
  background-color:rgba(245, 110, 2, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1281 {
  position:absolute;
  left:37px;
  top:103px;
  width:92px;
  height:21px;
  color:#FFFFFF;
  text-align:left;
}
#u1282 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u1283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1283 {
  position:absolute;
  left:43px;
  top:277px;
  width:86px;
  height:20px;
  text-align:left;
}
#u1284 {
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  word-wrap:break-word;
}
#u1285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1285 {
  position:absolute;
  left:43px;
  top:188px;
  width:117px;
  height:20px;
  text-align:left;
}
#u1286 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  word-wrap:break-word;
}
#u1287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
  background:inherit;
  background-color:rgba(245, 110, 2, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1287 {
  position:absolute;
  left:37px;
  top:229px;
  width:92px;
  height:21px;
  color:#FFFFFF;
  text-align:left;
}
#u1288 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u1289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1289 {
  position:absolute;
  left:-171px;
  top:383px;
  width:400px;
  height:124px;
}
#u1290 {
  position:absolute;
  left:2px;
  top:54px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1291 {
  position:absolute;
  left:43px;
  top:149px;
  width:117px;
  height:20px;
  text-align:left;
}
#u1292 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  word-wrap:break-word;
}
#u1293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:344px;
}
#u1293 {
  position:absolute;
  left:0px;
  top:303px;
  width:231px;
  height:344px;
}
#u1294 {
  position:absolute;
  left:2px;
  top:164px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:139px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FF0000;
}
#u1295 {
  position:absolute;
  left:7px;
  top:304px;
  width:222px;
  height:139px;
  color:#FF0000;
}
#u1296 {
  position:absolute;
  left:10px;
  top:10px;
  width:202px;
  word-wrap:break-word;
}
#u1297_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1297 {
  position:absolute;
  left:139px;
  top:217px;
  width:30px;
  height:40px;
  opacity:0.5;
}
#u1298 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:95px;
}
#u1299p000 {
  position:absolute;
  left:152px;
  top:67px;
  width:27px;
  height:27px;
  -webkit-transform:rotate(-83deg);
  -moz-transform:rotate(-83deg);
  -ms-transform:rotate(-83deg);
  transform:rotate(-83deg);
}
#u1299p000_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:28px;
  height:28px;
}
#u1299p001 {
  position:absolute;
  left:-4px;
  top:14px;
  width:171px;
  height:22px;
  -webkit-transform:rotate(-157deg);
  -moz-transform:rotate(-157deg);
  -ms-transform:rotate(-157deg);
  transform:rotate(-157deg);
}
#u1299p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:172px;
  height:23px;
}
#u1299.compound {
  width:0px;
  height:0px;
}
#u1299 {
  position:absolute;
  left:116px;
  top:52px;
  width:177px;
  height:94px;
}
#u1300 {
  position:absolute;
  left:2px;
  top:39px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1346px;
  height:91px;
}
#u1302 {
  position:absolute;
  left:-178px;
  top:0px;
  width:1346px;
  height:91px;
}
#u1303 {
  position:absolute;
  left:2px;
  top:38px;
  width:1342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:57px;
}
#u1304 {
  position:absolute;
  left:833px;
  top:16px;
  width:94px;
  height:57px;
}
#u1305 {
  position:absolute;
  left:2px;
  top:20px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
