body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1163px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:566px;
}
#u3398 {
  position:absolute;
  left:0px;
  top:82px;
  width:230px;
  height:566px;
}
#u3399 {
  position:absolute;
  left:2px;
  top:275px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:253px;
}
#u3400 {
  position:absolute;
  left:0px;
  top:648px;
  width:231px;
  height:253px;
}
#u3401 {
  position:absolute;
  left:2px;
  top:118px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:370px;
}
#u3402 {
  position:absolute;
  left:0px;
  top:646px;
  width:230px;
  height:370px;
}
#u3403 {
  position:absolute;
  left:2px;
  top:177px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:336px;
}
#u3404 {
  position:absolute;
  left:240px;
  top:82px;
  width:769px;
  height:336px;
}
#u3405 {
  position:absolute;
  left:2px;
  top:160px;
  width:765px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3406 {
  position:absolute;
  left:264px;
  top:455px;
  width:283px;
  height:16px;
  color:#FF0000;
}
#u3407 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  white-space:nowrap;
}
#u3408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(234, 84, 4, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3408 {
  position:absolute;
  left:746px;
  top:369px;
  width:79px;
  height:25px;
  color:#FFFFFF;
}
#u3409 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u3410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u3410 {
  position:absolute;
  left:488px;
  top:316px;
  width:22px;
  height:19px;
}
#u3411 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3412 {
  position:absolute;
  left:510px;
  top:319px;
  width:57px;
  height:16px;
}
#u3413 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u3414 {
  position:absolute;
  left:567px;
  top:316px;
  width:22px;
  height:19px;
}
#u3415 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3416 {
  position:absolute;
  left:589px;
  top:319px;
  width:91px;
  height:16px;
}
#u3417 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3418 {
  position:absolute;
  left:671px;
  top:445px;
  width:43px;
  height:16px;
  color:#FF0000;
}
#u3419 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3420_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:53px;
}
#u3420 {
  position:absolute;
  left:690px;
  top:394px;
  width:5px;
  height:41px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3421 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
}
#u3422 {
  position:absolute;
  left:656px;
  top:362px;
  width:73px;
  height:32px;
}
#u3423 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1163px;
  height:78px;
}
#u3424 {
  position:absolute;
  left:0px;
  top:0px;
  width:1163px;
  height:78px;
}
#u3425 {
  position:absolute;
  left:2px;
  top:31px;
  width:1159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:57px;
}
#u3426 {
  position:absolute;
  left:832px;
  top:15px;
  width:94px;
  height:57px;
}
#u3427 {
  position:absolute;
  left:2px;
  top:20px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
