body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1149px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:518px;
}
#u2983 {
  position:absolute;
  left:101px;
  top:0px;
  width:1048px;
  height:518px;
}
#u2984 {
  position:absolute;
  left:2px;
  top:251px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:19px;
  background:inherit;
  background-color:rgba(106, 183, 173, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2985 {
  position:absolute;
  left:127px;
  top:387px;
  width:971px;
  height:19px;
}
#u2986 {
  position:absolute;
  left:2px;
  top:2px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:24px;
}
#u2987 {
  position:absolute;
  left:191px;
  top:384px;
  width:95px;
  height:24px;
}
#u2988 {
  position:absolute;
  left:2px;
  top:4px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u2989 {
  position:absolute;
  left:400px;
  top:387px;
  width:74px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u2990 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u2991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u2991 {
  position:absolute;
  left:789px;
  top:387px;
  width:74px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u2992 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u2993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u2993 {
  position:absolute;
  left:298px;
  top:386px;
  width:69px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u2994 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u2995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2995 {
  position:absolute;
  left:545px;
  top:387px;
  width:74px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2996 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u2997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2997 {
  position:absolute;
  left:680px;
  top:387px;
  width:74px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2998 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u2999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2999 {
  position:absolute;
  left:909px;
  top:387px;
  width:74px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u3000 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u3001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3001 {
  position:absolute;
  left:1038px;
  top:387px;
  width:42px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u3002 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u3003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:39px;
}
#u3003 {
  position:absolute;
  left:83px;
  top:204px;
  width:2px;
  height:39px;
}
#u3004 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:39px;
}
#u3005 {
  position:absolute;
  left:83px;
  top:408px;
  width:2px;
  height:39px;
}
#u3006 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3007 {
  position:absolute;
  left:127px;
  top:672px;
  width:385px;
  height:48px;
  color:#FF0000;
}
#u3008 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u3009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:70px;
}
#u3009 {
  position:absolute;
  left:121px;
  top:523px;
  width:995px;
  height:70px;
}
#u3010 {
  position:absolute;
  left:2px;
  top:27px;
  width:991px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3011 {
  position:absolute;
  left:133px;
  top:523px;
  width:35px;
  height:23px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3012 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u3013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:22px;
  background:inherit;
  background-color:rgba(106, 183, 173, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3013 {
  position:absolute;
  left:127px;
  top:564px;
  width:971px;
  height:22px;
}
#u3014 {
  position:absolute;
  left:2px;
  top:3px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3015 {
  position:absolute;
  left:156px;
  top:564px;
  width:82px;
  height:20px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3016 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u3017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3017 {
  position:absolute;
  left:599px;
  top:564px;
  width:82px;
  height:20px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3018 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u3019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3019 {
  position:absolute;
  left:464px;
  top:564px;
  width:57px;
  height:20px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3020 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3021 {
  position:absolute;
  left:327px;
  top:564px;
  width:57px;
  height:20px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3022 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3023 {
  position:absolute;
  left:768px;
  top:564px;
  width:260px;
  height:20px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3024 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u3025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:16px;
}
#u3025 {
  position:absolute;
  left:317px;
  top:642px;
  width:489px;
  height:16px;
}
#u3026 {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u3027_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1005px;
  height:5px;
}
#u3027 {
  position:absolute;
  left:106px;
  top:600px;
  width:1002px;
  height:2px;
}
#u3028 {
  position:absolute;
  left:2px;
  top:-7px;
  width:998px;
  visibility:hidden;
  word-wrap:break-word;
}
