body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:762px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:741px;
  height:215px;
}
#u4978 {
  position:absolute;
  left:21px;
  top:25px;
  width:741px;
  height:215px;
}
#u4979 {
  position:absolute;
  left:0px;
  top:0px;
  width:741px;
  word-wrap:break-word;
}
