body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:887px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:78px;
}
#u3960 {
  position:absolute;
  left:0px;
  top:-7px;
  width:990px;
  height:78px;
}
#u3961 {
  position:absolute;
  left:2px;
  top:31px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:57px;
}
#u3962 {
  position:absolute;
  left:831px;
  top:4px;
  width:94px;
  height:57px;
}
#u3963 {
  position:absolute;
  left:2px;
  top:20px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1003px;
  height:436px;
}
#u3964 {
  position:absolute;
  left:0px;
  top:71px;
  width:1003px;
  height:436px;
}
#u3965 {
  position:absolute;
  left:2px;
  top:210px;
  width:999px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:300px;
}
#u3966 {
  position:absolute;
  left:0px;
  top:497px;
  width:998px;
  height:300px;
}
#u3967 {
  position:absolute;
  left:2px;
  top:142px;
  width:994px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:235px;
}
#u3968 {
  position:absolute;
  left:-1px;
  top:802px;
  width:999px;
  height:235px;
}
#u3969 {
  position:absolute;
  left:2px;
  top:110px;
  width:995px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:189px;
}
#u3970 {
  position:absolute;
  left:-1px;
  top:1035px;
  width:990px;
  height:189px;
}
#u3971 {
  position:absolute;
  left:2px;
  top:86px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3972 {
  position:absolute;
  left:233px;
  top:1083px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u3973 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3974 {
  position:absolute;
  left:312px;
  top:1082px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u3975 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3976 {
  position:absolute;
  left:653px;
  top:1083px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u3977 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:16px;
}
#u3978 {
  position:absolute;
  left:96px;
  top:1358px;
  width:489px;
  height:16px;
}
#u3979 {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u3980_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1005px;
  height:5px;
}
#u3980 {
  position:absolute;
  left:-116px;
  top:1316px;
  width:1002px;
  height:2px;
}
#u3981 {
  position:absolute;
  left:2px;
  top:-7px;
  width:998px;
  visibility:hidden;
  word-wrap:break-word;
}
