body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:762px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:154px;
}
#u4982 {
  position:absolute;
  left:35px;
  top:50px;
  width:727px;
  height:154px;
}
#u4983 {
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  word-wrap:break-word;
}
